.subscribe-button {
    background-color: rgb(200, 0, 0);
    color: white;
    /* border: none; */
    border-radius: 2px;
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 18px;
    padding-right: 18px;
    border-color: black;
    border-width: 1px;
    margin-right: 8px;
    margin-left: 20px;
    transition: opacity 0.15s;
    vertical-align: top;
}
.subscribe-button:hover{
    opacity: 0.6;
}

.subscribe-button:active{
    opacity: 0.3;
}

.join-button {
    background-color: white;
    border-color: rgb(6, 95, 212);
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    color: rgb(6, 95, 212);
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 0.7s, color 0.7s;
    vertical-align: top;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 18px;
    padding-right: 18px;
}

.join-button:hover {
    background-color: rgb(6, 95, 212);
    color: white;
}

.join-button:active {
    opacity: 0.6;
}

.tweet-button {
    background-color: #1C8EEA;
    border:none;
    border-color: rgb(29, 155, 240);
    border-radius: 35px;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 18px;
    padding-right: 18px;
    cursor: pointer;
    margin-right: 8px;
    font-weight: bold;
    font-size: medium;
    transition: box-shadow 0.5s;
    vertical-align: top;
}
.tweet-button:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
}
